
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Password</title>
</head>
<body>
    <h3>Random passcode (passcode #@ViewBag.Count)</h3>
    <h1>@ViewBag.Password</h1>
    <form asp-action="Generate" asp-controller="Home" method="post">
        <input value="Generate" type="submit">    
    </form>

</body>
</html>