@{
    @using CRUDelicious.Models
    @model User;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDelicious</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1>
    <p>Check out some recent dishes!</p>
    <a href="/new">Add a Dish</a>
    <div>
        @foreach(var l in ViewBag.AllDishes)
        {
            <p><a href="@l.UserId">@l.dishName</a> by @l.chefName</p>
        }
    </div>
</body>
</html>