@{
    @using weddingPlanner.Models
    @model List<Wedding>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner</title>
</head>
<body>
    <h1>Welcome to Wedding Planner</h1>
    <a href="/logout">Log out</a>
    <table>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
        @foreach(Wedding wed in Model)
        {
            <tr>
                <td><a href="wedding/@wed.WeddingId">@wed.WedderOne & @wed.WedderTwo</a></td>
                @{
                    var formatDate = wed.Date.ToString("MMMM dd, yyyy");
                }
                <td>@formatDate</td>
                <td>@wed.Reservations.Count</td>
                @{
                    if (wed.UserId == (int)ViewBag.UserLoggedIn) 
                    {
                        <td><a href="delete/@wed.WeddingId">Delete</a></td>
                    }
                    else 
                    {
                        if (wed.Reservations.Count == 0)
                        {
                            <td><a href="rsvp/@wed.WeddingId">RSVP</a></td>
                        }
                        foreach (Reservation res in wed.Reservations)
                        {
                            if (res.UserId == (int)ViewBag.UserLoggedIn)
                            {
                                <td><a href="unrsvp/@res.ReservationId">Un-RSVP</a></td>
                            }
                            else 
                            {
                                <td><a href="rsvp/@wed.WeddingId">RSVP</a></td>
                            }
                        }
                    }
                }
            </tr>
        }
    </table>
    <br/>
    <a href="/plan/wedding">New Wedding</a>
</body>
</html>